*~
*.cfg
*.iml
target/
graalvm/
.settings/
./.project
.factorypath
.classpath
.idea/
.project
/bin/
/Coco.jar
component/tcl-component.jar
language/dependency-reduced-pom.xml
native/tclnative
/language/src/main/java/com/oracle/truffle/tcl/parser/Tcl.interp
/language/src/main/java/com/oracle/truffle/tcl/parser/Tcl.tokens
/language/src/main/java/com/oracle/truffle/tcl/parser/TclLexer.interp
/language/src/main/java/com/oracle/truffle/tcl/parser/TclLexer.tokens
/language/src/main/java/com/oracle/truffle/tcl/parser/TclLexer.java
/language/src/main/java/com/oracle/truffle/tcl/parser/TclParser.java
*.jar
